<div
  style="
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 30vh;
  "
>
</div>
<div class="main row">
  <!-- Checkout Side -->
  <div class="col-12 col-md-7 d-flex justify-content-end p-0">
    <div class="checkout">
      <div class="head">
        <!-- logo -->
        <h1 class="display-5 fw-bold text-secondary text-center mt-4">
          Trends.
        </h1>
        <!-- paths -->
        <div
          class="checkout-paths d-flex justify-content-center align-items-center mt-4"
        >
          <a
            class="fs-6 display-6 me-3 text-secondary"
            [ngClass]="{ 'active-link': step == 1 }"
            >Information</a
          >

          <a
            class="fs-6 display-6 me-3 text-secondary"
            [ngClass]="{ 'active-link': step == 2 }"
            >Shipping</a
          >

          <a
            class="fs-6 display-6 me-3 text-secondary"
            [ngClass]="{ 'active-link': step == 3 }"
            >Payment</a
          >
        </div>
        <hr />

        <!-- Sugg: Use services with routing -->
        <!-- <router-outlet></router-outlet> -->
        <app-checkout-information
          (sendShippingDetails)="getShipping($event)"
          [existingShippingDetail]="shipping"
          *ngIf="step == 1"
        ></app-checkout-information>
        <div *ngIf="step == 2">
          <div class="d-flex justify-content-between">
            <p class="text-secondary">Ships to : {{ shipping?.address }}</p>
            <a
              class="text-secondary text-decoration-underline"
              style="cursor: pointer"
              (click)="goToPreviousStep()"
              >Change</a
            >
          </div>
          <app-checkout-shipping
            (goBack)="goToPreviousStep()"
            (goToPayment)="goToPaymentPage($event)"
            (setOption)="setShippingOption($event)"
            [selectedShippingOption]="selectedShippingOption"
          ></app-checkout-shipping>
        </div>

        <app-checkout-payment
          *ngIf="step == 3"
          (goBack)="goToPreviousStep()"
          (placeOrder)="confirmOrder($event)"
          [payment]="paymentMethod"
        ></app-checkout-payment>
      </div>
    </div>
  </div>

  <!-- Product Side -->
  <div class="col-12 col-md-5 bg-light">
    <div class="products">
      <div *ngFor="let item of cart" class="row mb-3">
        <div class="col-8 d-flex align-items-center">
          <img
            src="{{ item.product.image }}"
            alt=""
            style="width: 50px"
            class="me-4"
          />
          <p class="fs-6">
            {{ item.product.name }}, {{ item.size | uppercase }}
          </p>
        </div>
        <p class="col-2 align-self-center">{{ item.quantity }}</p>
        <p class="col-2 align-self-center">{{ item.product.price }}</p>
      </div>
      <hr />
      <div class="d-flex justify-content-between">
        <p>Subtotal ({{ cart.length }} items)</p>
        <p class="pe-3">LKR {{ total }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Shipping</p>
        <p class="pe-3">LKR {{ shippingPrice }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="fw-bold">Total</p>
        <p class="fw-bold pe-3">LKR {{ subtotal }}</p>
      </div>
      <hr />
    </div>
  </div>
</div>
