<div class="mt-5">
  <h3 class="mt-4">Payment Method</h3>
  <div>
    <input
      type="radio"
      name="delivery"
      id="standard"
      value="cash on delivery"
    />
    <label for="standard" class="option"> Cash on Delivery </label>
  </div>
  <div>
    <input
      type="radio"
      name="delivery"
      id="express"
      value="credit card"
      disabled
    />
    <label for="express" class="option text-secondary"> Credit Card </label>
  </div>
  <!--  -->
  <!-- <input type="text" [(ngModel)]="payment" />
  {{ payment }}

  <input
    type="radio"
    name="payment"
    id="cash"
    value="cash"

  />
  <label for="cash">Cash</label>
  <input
    type="radio"
    name="payment"
    id="card"
    value="card"
    [(ngModel)]="payment"
  />
  <label for="card">Card</label> -->

  <!--  -->
  <div class="mt-5 d-flex justify-content-between">
    <button class="btn text-secondary" (click)="goBackToShipping()">
      Shipping
    </button>
    <button class="btn btn-danger align-items-center" (click)="confirmOrder()">
      Confirm Order &nbsp;
      
    </button>
  </div>
</div>
