<div class="container-md">
  <div class="cart-container">
    <h3 class="display-6 fs-2 mb-4">{{ cart.length }} items in your cart</h3>
    <br />

    <!-- No products in cart -->
    <div *ngIf="cart.length == 0">
      <h3 class="text-secondary text-center">Add something to your cart !</h3>
    </div>

    <!-- Show cart items -->
    <div *ngIf="cart.length > 0">
      <!-- Header -->
      <div class="row">
        <h6 class="col-7 fs-4">Item</h6>
        <h6 class="col-2 fs-4">Quantity</h6>
        <h6 class="col-2 fs-4">Price</h6>
        <span class="col-1"></span>
      </div>
      <hr />

      <!-- Items -->
      <div>
        <div *ngFor="let item of cart" class="row mb-3">
          <div class="col-7 d-flex align-items-center">
            <img
              src="{{ item.product.image }}"
              alt=""
              style="width: 70px"
              class="me-4"
            />
            <p class="">
              {{ item.product.name }},
              <span class="fw-bold">{{ item.size | uppercase }}</span>
            </p>
          </div>
          <div class="col-2 align-self-center mb-2"></div>

          <p class="col-2 align-self-center">LKR {{ item.product.price }}</p>
          <a
            class="col-1 align-self-center text-black-50"
            (click)="removeItem(item)"
          >
          </a>
        </div>
        <div class="row">
          <div class="col-7"></div>
          <div class="col-2 fw-bold total">
            <p>Total</p>
          </div>
          <div class="col-2 fw-bold total">
            <p>LKR {{ total }}</p>
          </div>
          <div class="col-1"></div>
        </div>

        <div
          class="mt-5 d-flex flex-column flex-sm-row justify-content-between"
        >
          <button class="btn btn-dark" (click)="goToPreviousPage()">
            Continue Shopping
          </button>
          <button class="btn btn-danger" (click)="checkout()">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
