<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<div id="preloder">
  <div class="loader"></div>
</div>
<div class="container-fluid">
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
      <li><span class="icon_search search-switch"></span></li>
      <li>
        <a href="#"
          ><span class="icon_profile"></span>
          <div class="tip">2</div>
        </a>
      </li>
      <li>
        <a href="#"
          ><span class="icon_bag_alt"></span>
          <div class="tip">2</div>
        </a>
      </li>
    </ul>
    <div class="offcanvas__logo">
      <a href="#"><img src="assets/img/logo.png" alt="" /></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
      <a href="#">Login</a>
      <a href="#">Register</a>
    </div>
  </div>
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 col-xl-3 col-lg-3">
          <div class="header__logo">
            <a href="#">FlyBuy</a>
          </div>
        </div>
        <div class="col-6 col-xl-6 col-lg-6">
          <nav class="header__menu">
            <ul>
              <li class="active"><a href="#">Home</a></li>
              <li><a routerLink="/products/womens">Women’s</a></li>
              <li><a routerLink="/products/mens">Men’s</a></li>
              <li><a href="#">Shop</a></li>
              <li>
                <a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="#">Product Details</a></li>
                  <li><a href="#">Shop Cart</a></li>
                  <li><a href="#">Checkout</a></li>
                  <li><a href="#">Blog Details</a></li>
                </ul>
              </li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-3 col-xl-3 col-lg-3">
          <div class="header__right">
            <div class="header__right__auth">
              <a href="http://localhost:4200/signin">Login</a>
              <a href="http://localhost:4200/signup">Register</a>
            </div>
            <ul class="header__right__widget">
              <li><span class="icon_search search-switch"></span></li>
              <li>
                <a href="#"><span class="icon_profile"></span> </a>
              </li>
              <li>
                <a href="#"><span class="icon_bag_alt"></span> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="canvas__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </header>
</div>

