<div class="container-md mt-5 content">
  <div style="max-width: 60vw; margin: 0 auto">
    <div *ngIf="order">
      <h2 class="display-6">Order #{{ order.id }}</h2>
      <p
        class="fs-5"
        [style]="{
          color: order.shipping.status == 'ordered' ? '#3777FF' : '#007C77'
        }"
      >
        {{ order.shipping.status | titlecase }}
      </p>

      <div class="row mt-4">
        <div class="col-6 lh-1">
          <h6 class="fw-bold">Shipping Address</h6>
          <p class="text-secondary">
            {{ order.shipping.firstName | titlecase }}
            {{ order.shipping.lastName | titlecase }}
          </p>
          <p class="text-secondary">{{ order.shipping.address | titlecase }}</p>
          <p class="text-secondary">{{ order.shipping.phoneNum }}</p>
        </div>
        <div class="col-6 lh-1">
          <h6 class="fw-bold">Payment Method</h6>
          <p class="text-secondary">
            {{ order.invoice.paymentMethod | titlecase }}
          </p>
          <h6 class="fw-bold">Expected delivery date</h6>
          <p class="text-secondary">
            {{ convertDate(order.shipping.expectedDeliveryDate) }}
          </p>
        </div>
      </div>

      <div class="mt-5">
        <div class="d-flex justify-content-between">
          <h4>Order details.</h4>
          <p class="text-secondary" style="font-size: 13px">
            {{ convertDate(order.orderDate) }}
          </p>
        </div>
        <hr />

        <!-- Items List -->
        <div *ngFor="let item of order.orderItems" class="row mb-3">
          <div class="col-8 d-flex align-items-center">
            <img
              src="{{ item.product.image }}"
              alt=""
              style="width: 70px"
              class="me-4"
            />
            <p class="">
              {{ item.product.name }},
              <span class="fw-bold">{{ item.size | uppercase }}</span>
            </p>
          </div>
          <div class="col-2 align-self-center">
            <p class="text-secondary" style="font-size: 15px">
              {{ item.quantity }} Qty
            </p>
          </div>

          <div class="col-2 align-self-center">
            <p style="font-size: 15px">LKR {{ item.product.price }}</p>
          </div>
        </div>
      </div>
      <hr />

      <!-- Total -->
      <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
          <p class="text-secondary" style="font-size: 15px">Subtotal</p>
        </div>
        <div class="col-2">
          <p>
            LKR {{ order.invoice.total - order.shipping.deliveryOption.price }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
          <p class="text-secondary" style="font-size: 15px">Shipping</p>
        </div>
        <div class="col-2">
          <p style="font-size: 15px">
            LKR {{ order.shipping.deliveryOption.price }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
          <p class="fw-bold text-secondary" style="font-size: 15px">Total</p>
        </div>
        <div class="col-2">
          <p class="fw-bold" style="font-size: 15px">
            LKR {{ order.invoice.total }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
