<div class="container-md mt-5" style="min-height: 60vh; margin-bottom: 5rem">
  <h2 class="display-6">Your Orders.</h2>

  <!-- Loading -->

  <!-- No orders -->
  <div *ngIf="!isLoading && orders.length <= 0">
    <h4 class="display-6 fs-4 text-center text-secondary">
      You didn't have any prior orders made. Add something to your cart and make
      an order
    </h4>
  </div>

  <!-- table -->
  <table
    class="table table-striped table-hover mt-5"
    *ngIf="!isLoading && orders.length > 0"
  >
    <thead>
      <tr>
        <th scope="col">OrderId</th>
        <th scope="col">Order Date</th>
        <th scope="col">Items</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let order of orders"
        style="cursor: pointer"
        [routerLink]="['/order', order.id]"
      >
        <th>{{ order.id }}</th>
        <td>{{ convertDate(order.orderDate) }}</td>
        <td>{{ order.orderItems.length }} products</td>
        <td>LKR {{ order.invoice.total }}</td>
        <td
          [style]="{
            color: order.shipping.status == 'ordered' ? '#3777FF' : '#007C77'
          }"
        >
          {{ order.shipping.status }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
