<div class="mt-5">
  <h3>Shipping Address</h3>
  <div class="mt-4">
    <form [formGroup]="informationForm" novalidate>
      <div class="row">
        <div class="mb-3 col-6">
          <label for="fname" class="form-label text-secondary"
            >First Name</label
          >
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            id="fname"
            [ngClass]="{ 'is-invalid': isValid('firstName') }"
          />
          <div
            class="invalid-feedback"
            *ngIf="informationForm.get('firstName')?.errors?.['required']"
          >
            First Name is required.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="informationForm.get('firstName')?.errors?.['minlength']"
          >
            First Name should be atleast 3 characters.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="informationForm.get('firstName')?.errors?.['maxlength']"
          >
            First Name should be less than 30 characters.
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="lname" class="form-label text-secondary">Last Name</label>
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            id="lname"
            [ngClass]="{ 'is-invalid': isValid('lastName') }"
          />
          <div
            class="invalid-feedback"
            *ngIf="informationForm.get('lastName')?.errors?.['required']"
          >
            Last Name is required.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="informationForm.get('lastName')?.errors?.['minlength']"
          >
            Last Name should be atleast 3 characters.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="informationForm.get('lastName')?.errors?.['maxlength']"
          >
            Last Name should be less than 30 characters.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label text-secondary">Address</label>
        <input
          type="text"
          formControlName="address"
          class="form-control"
          id="address"
          [ngClass]="{ 'is-invalid': isValid('address') }"
        />
        <div
          class="invalid-feedback"
          *ngIf="informationForm.get('address')?.errors?.['required']"
        >
          Address is required.
        </div>
      </div>
      <div class="row">
        <div class="mb-2 col-6">
          <label for="postal" class="form-label text-secondary"
            >Postal Code</label
          >
          <input
            type="number"
            formControlName="postalCode"
            class="form-control"
            id="postal"
          />
        </div>
        <div class="mb-3 col-6">
          <label for="phone" class="form-label text-secondary">Phone</label>
          <input
            type="number"
            formControlName="phoneNum"
            class="form-control"
            id="phone"
            [ngClass]="{ 'is-invalid': isValid('phoneNum') }"
          />
          <div
            class="invalid-feedback"
            *ngIf="informationForm.get('phoneNum')?.errors?.['required']"
          >
            Phone number is required.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="informationForm.get('phoneNum')?.errors?.['pattern']"
          >
            Phone number should be in 7X XXX XXX format.
          </div>
        </div>
      </div>
      <div class="mt-3 d-flex justify-content-between">
        <button class="btn text-secondary" (click)="routeToCart()">
          Return to
          Cart
        </button>
        <button
          class="btn btn-danger align-items-center"
          (click)="routeToShipping()"
        >
          Continue Shipping &nbsp;
        </button>
      </div>
    </form>
  </div>
</div>
