.size input {
  display: none;
}

.size div {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  /* border: 2px solid #e5e5e5; */
  /* border-radius: 2px; */
  margin-right: 0.5rem;
  /* padding: 10px; */
}

.option {
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  background-color: #f9f9f9;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + label {
  border: 2px solid #26c485;
  background-color: #ccfbe8;
}

.quantity {
  padding: 10px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.offcanvas-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}

.img-border-round{
  border-style: double;
  border-radius: 2rem;
  border-color: black;
}

